Hej,

Här kommer schemat för sjösättning {date}.

Meningen med det här mailet är att ge dig som medlem en överblick över hur dagen kommer att se ut, och vad du kan göra för att hjälpa till.

Du får detta mail för att du skall köra kryparna, sjösätta din båt eller skall hjälpa till arbetspass.

Nytt för i år är att vi delar ut inplastade reklamblad till alla som sjösätter, så glöm inte att dela ut dem när du kör kryparna. De ligger på hyllan i förrådet. Sätt upp ett på anslagstavlan på din sommarklubb, gästhamnen du besöker eller i naturhamnen (om det finns en anslagstavla där). Vi får plats med fler båtar, och det här är ett enkelt och billigt sätt att göra lite reklam för vår klubb.


<h2>Om du skall sjösätta din båt:</h2>
Schemat kommer att betas av från första båt till sista, oberoende av passen egentligen. Det finns inga bestämda tider för när respektive båt hanteras. Se till att vara på plats i mycket god tid, och om det finns en lucka framför din båt, se till att vara på varvet så att inte kryparförarna behöver sitta och vänta på dig.

Tumregeln är att vara på plats i början av dagen, oavsett när ditt pass är, och sedan vara beredd att hoppa in när det finns en lucka eller alla båtar "före" din är hanterade.

Om du får vänta kan du hjälpa de andra båtarna, eller putsa lite till.

Glöm inte att tydligt märka stöttor eller vagga med medlemsnummer, namn och gärna telefonnummer.

Om anteckningar om kryparinställning inte finns i BAS så skriv ner vad som användes nu och skriv in på ditt båtkort i BAS.

Glöm inte att ta en-två lappar att sätta upp på sommarhamnen och ute i skärgården!

Lycka till.

<h2>Om du skall vara med på ett arbetspass:</h2>
Om du har anmält dig för ett pass där det inte verkar finnas några båtar (brukar gälla de sista passen på dagen), försök att ändra din anmälan i BAS till ett pass där det finns båtar att ta upp, men ett underskott av hjälpande händer. En rimlig gissning är att det tar 15-20 minuter att sjösätta en båt, och vi kör två krypare. Om det verkar hinna bli klart innan ditt pass börjar är det bättre att du är där tidigare eller en annan dag.

Observera att hela schemat är med i excel-filen, det är alltså inte specifikt för dig, utan alla som är involverade i sjösättningen får det här mailet. Det är därför inte så noga att du har koll på exakt vilka båtar som sjösätts när du har ditt pass, utan det viktigaste är att du är där i god tid och hjälper till när det behövs.

Lycka till.

<h2>Om du är förman:</h2>
Ditt jobb är att hålla lite koll på schemat, svara på frågor och se till att kryparförarna kan fokusera på att flytta båtar. Ta på dig västen märkt CHEF och peka med hela handen. Lycka till.

<h2>Om du skall köra krypare:</h2>
Glöm inte att dela ut inplastade reklamblad till alla som sjösätter. De ligger på hyllan i förrådet. You rock! Lycka till!



Vänligen,

--{varvschef}
Varvschef
