name: Make Schedule

on:
    workflow_dispatch:


jobs:
    generate-schema:
        runs-on: ubuntu-latest
        steps:
            - name: Generate token to access repos
              id: generate-token
              uses: actions/create-github-app-token@v1
              with:
                app-id: ${{ vars.GHA_PRIVATE_REPOS_ID }}
                private-key: ${{ secrets.GHA_PRIVATE_REPOS_PEM }}
                owner: ${{ github.repository_owner }}

            - name: Check out repository
              uses: actions/checkout@v4
              with:
                token: ${{ steps.generate-token.outputs.token }}
                repository: ${{ github.repository }}


            - name: Checkout reports
              uses: actions/checkout@v4
              with:
                  token: ${{ steps.generate-token.outputs.token }}
                  repository: 'jhogstrom/ess-data'
                  path: .reports
